body
{
    margin: 0;
    padding: 0;
    font-family: "Source Sans 3", sans-serif;
    background-image: url(./images/banner.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    color: black;
    
}

nav
{
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
    align-items: center;
    padding: 0.2rem 1rem;

}
/* #left
{
    background-color: burlywood;
}
#right
{
    background-color:khaki;
} */
#left>h1
{
    color: white;
    font-size: 1rem;
    margin: 0;
    font-weight: 100;
}
#left > h1> span
{
    font-weight: 100;
    color: rgba(240, 248, 255, 0.614);
}
#right>#cont
{
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
}
#cont>li>a
{
    color:rgba(255, 255, 255, 0.658) ;
    padding: 0.4rem 1rem;
    text-decoration: none;
    display: block;

}
#cont>li>a>button
{
    font-size: 1rem;
    padding: 0.2rem 0.5rem;
    border:2px solid rgba(234, 226, 226, 0.929);
    border-radius: 5px;
    background-color: transparent;
}
/* -------------dropdown--------- */
#menu
{
list-style-type: none;
padding: 0;
position: absolute;
background-color: white;
top: 100%;
right: 0%;
width: 180%;
display: none;
}
#menu>li>a
{
    color: rgba(165, 162, 162, 0.756);
    text-decoration: none;
    display: block;
    border-bottom: 2px solid rgba(193, 186, 186, 0.242);
    padding: 0.5rem;
}
#menu>li>a:hover
{
    background-color: orangered;
    color: white;
}
#drop:hover #menu
{
    display: block;

}
#drop
{
    position: relative;
}
#signup{
    text-align: center;
    background-color: #e89980;
    color: white;
    padding: 4.5rem;
}
#signup>h3{
    font-size: 2.4rem;
    font-weight: 200;
    margin: 0;
}
#signup>p{
    font-size: 1.1rem;
    font-weight: 200;
    margin: 30px;
}
#signup>input{
    width: 22%;
    height: 55px;
    border-radius: 5px;
    background-color: #f0ac98c3;
    border: none;
    padding: 10px;
    box-sizing: border-box;
}
::placeholder{
    color: white;
    font-size: 0.9rem;
    font-weight: 100;
}
#signup>button{
    width: 10%;
    height: 55px;
    padding: 10px;
    margin-left: 1rem;
    border-radius: 8px;
    border: none;
    color: #e89980;
    font-size: 1rem;
}
/* -------alpha------- */
#alpha{
    text-align: center;
    margin-top: 8rem;
}
#alpha >h2{
    color: white;
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 0s;
}
#alpha >p{
    color: white;
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 2rem;
}
#alpha>button{
    width: 12%;
    height: 3rem;
    border-radius: 5px;
    border: none;
    color: grey;
    margin-right: 1rem;
}
#alpha>#learn{
    background-color: transparent;
    border: 2px solid rgb(203, 195, 195);
    color: white;
}
/* -----mobile---- */
#mobile{
    background-color: white;
    width: 70%;
    margin: auto;
    text-align: center;
    border-radius: 5px;
    padding-top: 1rem;
    margin-top: 15rem;
}
#mobile>h2{
    color: rgb(122, 117, 117);
    font-weight: 300;
    font-size: 2rem;
}
#mobile>p{
    color: grey;
    font-weight: 300;
    font-size: 1.2rem;
    border-top: 2px solid rgb(200, 199, 199);
    width: 60%;
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
#mobile>img{
    width: 100%;
}

/* -----------------icon----------- */
#icon
{
    background-color: white;
    width: 70%;
    margin:2rem auto auto auto;
    border-radius: 5px;
    padding: 2rem;
    box-sizing: border-box;
}
#icon>div{
    /* background-color: blue; */
    width: 48%;
    display: inline-block;
    text-align: center;
}

.fa-bolt-lightning
{
    background-color: #e89980;
    color: white;
    padding: 1.5rem 2rem;
    border-radius: 100%;
    font-size: 2rem;
}
.fa-chart-area
{
    background-color: #7fcdb8;
    color: white;
    padding: 1.8rem 1.7rem;
    border-radius: 100%; 
    font-size: 2rem;
}
.fa-cloud
{
    background-color: #90b0ba;;
    color: white;
    padding: 1.7rem 1.7rem;
    border-radius: 100%;
    font-size: 2rem;
}
.fa-lock
{
    background-color: #e5cb95; ;
    color: white;
    padding: 1.8rem 1.9rem;
    font-size: 2rem;
    border-radius: 100%;
}

#icon>div>h2
{
    font-size: 1.5rem;
    font-weight: 300;
}
#icon>div>p{
    font-weight: 300;
}
#div1
{
border-right: 2px solid #e5e5e5 ;
border-bottom: 2px solid #e5e5e5 ;
position: relative;
top: 2px;
left: 4px;

}

#div4
{
border-left: 2px solid #e5e5e5 ;
border-top: 2px solid #e5e5e5 ;
}

#icon> div{
   
    padding-top: 2rem;
}


/* -----------CARDS--------- */
#cards
{
    width: 70%;
    margin: 2rem auto auto auto;
    display: flex;
    justify-content: space-between;
}
#cards>div
{
    background-color: white;
    width: 48%;
    text-align: center;
    padding-bottom: 2rem;
    border-radius: 5px;
   
}
#cards>div>img
{
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#box
{
    display: none;
}

/* ---------mobile version ---------- */
@media(max-width:600px)
{
    body
    {
       
        background-size: 190%;
        background-position-x: center;
    }
    #box 
    {
        display: inline-block;
        color: white;
        background-color: rgba(213,204,204);
        padding: 0.5rem 1rem;
        border-radius: 5px;
        margin-top: 0.5rem;
        margin-left: 0.5rem;
    }
    nav
    {
        display: none;
    }
    #alpha
    {
        width: 80%;
        margin: auto;
        margin-top: 0rem;
    }
    #aplha>h2
    {
        color: white;
        font-size: 3rem;
        font-weight: 300;
        margin-bottom:2rem ;
    }
    #aplha>p
    {
        color: white;
        font-size: 1.1rem;
        font-weight: 300;
        margin-bottom: 2rem;
    };

    #aplha>button
    {
        width: 100%;
        margin-bottom: 1rem;
    }
    #mobile
    {
        width: 100%;
        border-radius: 0px;
        padding-top: 1rem;
        margin-top: 2rem;
    }
    #mobile>h2{
        font-size: 1.5rem;
    }
    #mobile>p{
        width: 90%;
    }
    br 
    {
        display: none;
    }
    #icon
    {
    width: 100%;
    margin:2rem auto auto auto;
    }
    #icon>div{
        /* background-color: blue; */
        width: 100%;
        border-bottom: 2px solid #e5e5e5;
    }
    #div1
   {
    border-right: none ;
    border-bottom: none ;
    position: relative;
    top: 0px;
    left: 0px;

    }

    #div4
    {
      border-left: none ;
      border-top: none ;
    }
    #cards
    {
    width: 100%;
    margin: 1rem auto auto auto;
    display: block;
   
    }
    #cards>div
    { 
    width: 100%;
    margin-top: 1rem;
    }

}
/* --------------footer-------------- */

footer{
    width: 100%;
    height: 18rem;
    padding-top: 4rem;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

footer>section{
    width: 40%;
    text-align: center;
}

footer>section>#fdiv1{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    font-size: 2rem;
    color: rgb(131, 130, 130);
}

footer>section>#fdiv2{
    width: 100%;
    height: 49%;
    display: flex;
    justify-content: center;

}

footer>section>#fdiv2>p{
    display: flex;
    align-items: center;
    height: 0rem;
    border-left: 1px solid gainsboro;
    padding: 0.5rem;
    color: rgb(131, 130, 130);
}
footer>section>#fdiv2 p:first-child{
    border: none;
}
footer>section>#fdiv1>a{
    color: rgb(131, 130, 130);
}
footer>section>#fdiv2>p>a{
    color: rgb(131, 130, 130);
    text-decoration: underline dotted;
}
footer>section>#fdiv2>p>a:hover{
    text-decoration: none;
}

